body {
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center
}

.container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}

.calculator {
    padding: 20px 0;
    border: 2px solid black;
    border-radius: 20px;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7F8487;
}

.top-display {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding: 10px 15px 0px 15px;
    font-weight: 500;
    font-size: 20;
}

.bottom-display {
    flex-grow: 2;
    text-align: end;
    padding: 5px 15px 0px 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}

.display-container {
    width: 300px;
    height: 120px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 20px 0px;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
}

.calculatorbtn {
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.top-row {
    width: 290px;
    display: flex;
}

#ac {
    flex-grow: 2;
}

#del {
    flex-grow: 2;

}

button {
    height: 50px;
    width: 60px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    font-size: 24px;
    font-weight: 400;
    background-color: #EEEEEE;
}

.bottom-row {
    width: 300px;
    display: flex;
}

#equal {
    flex-grow: 2;
}

.operator {
    background-color: #FF8D29;
    font-weight: bold;
    color: #F9F9F9;
}

button:hover {
    background-color: #D8D2CB;
    transition: .2s;
    cursor: pointer;
    transform: translateY(-2px);
    /* float:left */
}

.operator:hover {
    background-color: #19D3DA;
    transition: .2s;
    cursor: pointer;
}

.footer {
    position: relative;
    text-align: center;
    top: 400px;
    right: 255px;
    font-weight: bold;

}

.footer a i:hover {
    transform: translateY(-2px);
    transform: rotate(1turn);
    transition: 1s;
}